@import '../../assets/scss/variables';
@import '../../assets/scss/functions';

body {
  font: 100% $font-stack;
  background-color: pablo-color-level('background', 2);
  color: pablo-color-level('primary');
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header"
    "main main"
    "sidebar sidebar"
    "footer footer";
}

.app-header {
  grid-area: header;
}

.app-main {
  grid-area: main;
  margin-top: 48px;
}

.app-aside {
  grid-area: sidebar;
}

.app-footer {
  grid-area: footer;
}
