@import './variables';

body {
  font: 100% $font-stack;
  background-color: $primary-color;
  color: $white;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer"
}

.app-header {
  grid-area: header;
}

.app-main {
  grid-area: main;
}

.app-aside {
  grid-area: aside;
}

.app-footer {
  grid-area: footer;
}
